<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}analytics/css/bootstrap.css"/>

    <script>
        var appsPlayerX = {{ aplicacionesPlayerX|safe }};
        var appsZW = {{ aplicacionesZW|safe }};
        var appsZGPS = {{ aplicacionesZGPS|safe }};
        var appsAZW = {{ aplicacionesAZW|safe }};
        var appsRUSAndroid = {{ aplicacionesRUSAndroid|safe }};
        var appsRUSiOS = {{ aplicacionesRUSiOS|safe }};
        var appsAll = {{ aplicacionesAll|safe }};
        var appsRUSAll = {{ aplicacionesRUSAll|safe }};
    </script>

    <script src="{{ STATIC_URL }}analytics/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}analytics/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}analytics/jquery.tablesorter.js"></script>
    <script src="{{ STATIC_URL }}analytics/jspdf.debug.js"></script>
    <script src="{{ STATIC_URL }}analytics/jquery.tablesorter.staticrow.min.js"></script>
    <script src="{{ STATIC_URL }}analytics/main.js"></script>
    <title>ZED Analytics</title>
</head>
<body>
    <div id="cabecera" class="col-xs-12">
        <div class="col-xs-2" style="margin: 20px">
            <label>Updating date:</label>
            <p>Excel: {{ dateExcel }} </p>
            <p>Appannie: {{ dateAppannie }} </p>
            <p><button class="tn bg-success" style="margin: 6px" id="pdf" onclick="descargarPDF()"> Download PDF </button></p>
{#            <form enctype="multipart/form-data" action="{% url 'upload' %}"  method="post">#}
{#                {% csrf_token %}#}
{#                <p>File: <input type="file" name="file"></p>#}
{#                <input class="tn bg-success" type="submit" value="Upload excel">#}
{#            </form>#}
        </div>
        <div id="account" class="col-xs-2" style="margin: 20px">
            <label>Account</label>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones2" id="allAccount" value="allAccount" checked>
                    All
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones2" id="playerX" value="playerX">
                    PlayerX
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones2" id="ZW" value="ZW">
                    ZW
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones2" id="ZGPS" value="ZGPS">
                    ZGPS
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones2" id="AZW" value="AZW">
                    AZW
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones2" id="RUS" value="RUS">
                    RUS
                </label>
            </div>
        </div>
        <div id="OS" class="col-xs-2" style="margin: 20px">
            <label>Devices</label>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones" id="combined" value="combined" checked>
                    All combined
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones" id="allOS" value="ALL">
                    All
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones" id="android" value="Android">
                    Android
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones" id="ios" value="IOS">
                    iOS
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones" id="amazon" value="Amazon">
                    Amazon
                </label>
            </div>
        </div>
        <div id="category" class="col-xs-2" style="margin: 20px">
            <label>Category</label>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones1" id="allCategories" value="ALL" checked>
                    All
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones1" id="games" value="Games">
                    Games
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones1" id="others" value="Others">
                    Apps
                </label>
            </div>
        </div>
        <div id="dateRAnge" class="col-xs-2" style="margin: 20px">
            <label>Date range</label>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones3" id="allTime" value="date" checked>
                    All time
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones3" id="month" value="date">
                    Last 30 days
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones3" id="week" value="date">
                    Last 7 days
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="opciones3" id="day" value="date">
                    Last day
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <button class="tn btn-primary" style="margin: 6px" id="show" onclick="verEstadisticas()"> SHOW </button>
        </div>

    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-8" id="resultado"></div>
    <div class="col-xs-2"></div>
</body>
</html>